.header{
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
    color: black;
    padding: 10px 10px;
    outline-style: auto;
}

button{
    height: 20px;
}
.top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
a{
    color: black;
}
.likes{
    display: flex;
    align-items: center;
}
a{
    margin-right: 5px;
}
button{
    background-color: orange;
}
.bottom-div{
    text-align: center;
    align-items: center;
}