.header{
    width: 400px;
    height: 150px;
    background-color: whitesmoke;
    color: black;
    padding: 15px 15px;
    outline-style: auto;
    margin-bottom: 10px;
}

button{
    height: 20px;
}
.top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
a{
    color: blue;
    margin-right: 5px;
}
.likes{
    display: flex;
    align-items: center;
}
button{
    background-color: orange;
}
.bottom-div{
    text-align: center;
    align-items: center;
}
.network{
    width: 100%;
    height: 50px;
    background-color: black;
    color: antiquewhite;
}
.feed{
    width: 100%;
    height: 50px;
    text-align: center;
}
.container{
    margin: 0 auto;
    width: 700px;
}
.profile{
    width: 150px;
    height: 225px;
    background-color: whitesmoke;
    color: black;
    outline-style: auto;
    text-align: center;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body{
    display: flex;
    justify-content: space-between;
}
img{
    width: 45%;
}